/** __Forms */
.formulario {
    display: block;
    &__label {
        font-size: $font-size-lg;
        width: 100%;
        text-align: start;
    }
    &__input {
        display: block;
        font-family: $raleway;
        font-size: $font-size-md;
        font-weight: $font-weight-regular-400;
        width: 70%;
    }
}
